@media screen and (max-width: 395px)
{
    .logo{
        margin-left: 20px;
    }
    #header h1{
        margin-top: -90px;
    }
    
    .buttons a{
        display: inline-block;
        width: 100%;
        margin-top: -15px;
    }  
    .overlay img{
        width: 85px;
        height: 85px;
        margin-top: 20px !important;
    }
        
}


@media screen and (max-width: 697px)
{
    
    .overlay img{
        margin-top: 130px !important;
        width: 105px;
        height: 105px;
    }
        
}


@media screen and (max-width: 327px)
{
    
    .overlay img{
        margin-top:  8px !important;
        width: 95px;
        height: 95px;
    }
        
}

@media screen and (max-width: 559px)
{
    
   
    .overlay img{
        margin-top:  82px !important;
        width: 95px;
        height: 95px;
    } 
        
}




@media screen and (max-width: 395px)
{
    
   
    .overlay img{
        margin-top:  52px !important;
        width: 95px;
        height: 95px;
    } 
        
}


@media screen and (max-width: 323px)
{
    
   
    .overlay img{
        margin-top:  22px !important;
        width: 95px;
        height: 95px;
    } 
        
}




@media screen and (max-width: 475px)
{
    
   
    .mockup img.left{
         display: none;
        
    } 
    
    .mockup img.right{
         margin-left: 50px;
        
    } 
        
}


@media screen and (max-width: 331px)
{
    
   
    .mockup img.left{
         display: none;
        
    } 
    
    .mockup img.right{
         margin-left: 10px;
        
    } 
        
}


@media screen and (max-width: 483px)
{
    .r-tabs-anchor{
        margin-left: 110px;
    }
   
     .r-tabs-anchor:hover, .r-tabs-anchor:focus{
        text-decoration: none;
         color: #fb527a;
    }
   
     
        
}

@media screen and (max-width: 483px)
{
     .works .filtering span{
        font-size: 13px;
         display: block;
         
    }
    
        
}



